<div class="container">
    <div class="main">

        <div class="input-area">
            <div class="title c1-text" style="text-align: center">
                <h1>IEEE-754 Binary-32</h1>
                <h2>Floating Point Operation</h2>
            </div>
            <div class="input-containers">
                <div class="labels">Operand 1
                    <input class="num-input" type="number" id="op1" name="op1" required>
                </div>
                <div class="labels">2^x
                    <input class="num-input" type="number" id="exp1" name="exp1" required>
                </div>
            </div>

            <div class="input-containers">
                <div class="labels">Operand 2</div>
                <input class="num-input" type="number" id="op2" name="op2" required>
                <div class="labels">2^x</div>
                <input class="num-input" type="number" id="exp2" name="exp2" required>
            </div>

            <div class="input-containers">
                <div class="labels">Number of Digits</div>
                <input class="num-input" type="number" id="nBits" name="nBits" required>
            </div>

            <div class="input-containers">
                <div class="labels">Rounding</div>
                <select id="round">
                    <option value="1">GRS</option>
                    <option value="2">Rounding</option>
                </select>
            </div>

            <input type="submit" id="submit" value="CALCULATE" class="c1-bg">
        </div>

        <div class="output-area">
            <div class="title">
                <h2>Ouput:</h2>
            </div>

            <div class="error-container">

            </div>
            <h3 class="labels">Step 1: Normalization</h3>
            <div class="step1">
                <h4 class="labels">Align Decimal Points:</h4>
                <div class="align">

                </div>
                <h4 class="labels">Round to required Length:</h4>
                <div class="round1">

                </div>
            </div>

            <h3 class="labels">Step 2: Addition</h3>
            <div class="step2">
                <div class="desc">
                    <p class="results">Carry</p>
                    <p class="results">Op1</p>
                    <p class="results">Op2</p>
                </div>
                <div>
                    <div class="op-table">

                    </div>
                    <div class="op-res">

                    </div>
                </div>

            </div>
            <div class="step3">
                <h3 class="labels">Step 3: post-operation normalization</h3>
                <div class="overflow">

                </div>
                <div class="post-rounding">

                </div>
            </div>
        </div>
    </div>


</div>